@font-face {
    font-family: 'Fira Code';
    src: url('../fonts/FiraCode.ttf');
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0f64ff;
  align-items: center;
  color: whitesmoke !important;
}
#backuptxt{
    justify-content: center;
    text-transform: capitalize;
}
#text1{
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
}
#text2{
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
}

#backupdiv{
    padding-top: 250px;
}

#backup-btn{
    width: 200px;
    height: 125px;
}