@font-face {
    font-family: 'Fira Code';
    src: url('../fonts/FiraCode.ttf');
}
body{
    background-color: #0A0C21;
    color: white;
    font-family: 'Fira Code', monospace;;
    justify-content: center;
    align-items: center;
}

#wishtitle, #wishlearn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out forwards;
}
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.btn{
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 30px;
    margin: 10px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-right: 20px;
}
#butdiv{
    text-align: center;
    padding-bottom: 50px;
}

#logodiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo{
  width: 5%;
  height: 5%;
  padding-right: 20px;
}

#foot{
  background-color: rgb(31, 27, 27);
  height: 175px;
  border-radius: 10px;
}
#foot a {
  color: white;
  cursor: pointer;
}
#foot p{
  padding: 20px;
}